:root {
  --text: #212121;
  --hovercolor: #2196f3;
  --subtext: #757575;
  --bgbutton: #f5f4fa;
  --background: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
}

/* header */
li {
  list-style-type: none;
}

.nav:visited,
.contacts:visited,
.logo:visited {
  color: var(--text);
}
.nav:active,
.contacts:active,
.logo:active {
  color: var(--text);
}

.nav:hover,
.nav:focus,
.contacts:focus,
.contacts:hover {
  color: var(--hovercolor);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio-footer {
  color: #fff;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts {
  color: var(--subtext);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

/* studio */
.section-hero {
  background-color: var(--background);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.competences {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.competences-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team {
  background-color: #f5f4fa;
}
.caption-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.cards {
  width: 270px;
  height: 368px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
/* portfolio */

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--hovercolor);
}

.button-filter {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background: var(--bgbutton);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-bg {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filters {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
/* footer */
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
footer {
  background: var(--background);
}
