:root {
  --text: #212121;
  --hovercolor: #2196f3;
  --subtext: #757575;
  --bgbutton: #f5f4fa;
  --background: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
}

/* header */
a:visited {
  color: inherit;
}
a:hover,
:focus {
  color: var(--hovercolor);
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo_web {
  color: #2196f3;
}
.logo_studio_footer {
  color: #fff;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts {
  color: var(--subtext);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* studio */
.section_hero {
  background-color: var(--background);
  width: 1600px;
  height: 600px;
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button_order {
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.competences {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.competences_description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
.what_are_we_doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section_team {
  background-color: #f5f4fa;
}
.caption_team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.cards {
  width: 270px;
  height: 368px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.card_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.card_description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
/* portfolio */

.button_filter:hover,
:focus {
  color: #ffffff;
  background-color: var(--hovercolor);
}

.button_filter {
  color: var(--text);
  background: var(--bgbutton);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.container_bg {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filters {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--subtext);
}
/* footer */
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
footer {
  background: var(--background);
}
